.SearchResult {
	margin: 50px 0;
}

.ResultList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.ResultItem {
	display: flex;
	align-items: flex-start;
	font-size: 18px;
	font-weight: 600;
	margin: 15px 0;

	&__Postcode {
		position: relative;
		display: block;

		&:after {
			content: "-";
			display: inline-block;
			padding: 0 20px;
		}
	}
	&__Suburb {
		display: block;
	}
}
